.drake {
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
}

/*.box {
	font-family: 
	font-size: 80%;
	text-align: center;
	font-style: italic;
	font-family: Lobster, Monospace;
}*/

.form-control {
	margin-right: 80px;
	margin-left: 60px;
	padding-right:50px; 
	padding-left:50px;
}

.search {
	margin: 70px 10px 80px 10px;
	text-align: center;
	align-content: center;
} 

.weather-box{
	position: relative;
	clear: left;
	bottom: 40px;
	left: 40px;
	margin-top: 50px;
	margin-left: 50px;
	height: 25%;
	width: 25%;
	border-radius: 20px;
}

.spotify-box {
	margin-left: 180px;
	margin-top: 15px;
	right: 50px;
	bottom: 0px;
	height: 400px;

}

body{
	background-image: url("../images/background1.jpg");
	background-position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


h1{
	font-size: 600%;
	text-align: center;
	font-family: Lobster, Monospace; 
}

h4 {
	font-size:  15px;
	font-style: italic;
	text-align: center;
}

h5 {
	margin-top: -20px;
	margin-bottom: -50px;
	font-size: 120%;
	font-family: Lobster, Monospace;
}


#head{
	background-color: none;
	margin-top: -10px;
	padding: 5px;
	position: relative;
	top: 20px;
}

#zip {
	border-radius: 25px;
	border: 2px solid black;
	background: white;
}

#submit{
	background-color: black;
	border: solid black;
}
/*#footer {
	position: fixed;
	bottom: 1px;
	left: 20%;
}*/